*{
    padding: 0px;
    margin: 0px;
    box-sizing :border-box;
}
.first{
    width:100%;
    color: white;
    background-color: black;

    padding: 30px 100px 30px 30;
    font-size:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 200px;
    font-style: normal;


}
span{
    width: 300px;;
    padding-left: 80px;
    padding-right: 300px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight:200px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: white;
    padding: 70px 100px 10px 40px;
}
p{
    width: auto;
    padding-left: 40px;

}
body{
    background-image: url(./hero-bcg\ \(1\).jpg);
}
.explore
{
    padding: 2px;0px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}